<ul class="list-unstyled">
  <% tasks.each do |task| %>
    <li class="media mb-3">
      <div class="media-body">
        <div>
           <%= task.created_at %>　<%= link_to "詳細",task %>
        </div>
        <div>
          <p><%= task.content %>( <%= task.status %> )</p>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate tasks %>
</ul>